<div id="download" *transloco="let t">
  <app-navbar></app-navbar>

  <section>
    <div class="now">
      <img class="destello" src="/download/destello.png" alt="" />
      <h1>{{ t("play-now") }}</h1>
      <p>{{ t("play-text") }}</p>
      <i
        class="pi pi-play-circle"
        (click)="this.router.navigateByUrl('/play')"
      ></i>
      <span>{{ t("play-online") }}</span>
    </div>

    <div class="buttons">
      <h2>{{ t("mobile") }}</h2>
      <div class="buttons-box">
        <div class="card-button" (click)="this.downloadFile('apk')">
          <span class="shop">.apk</span>
          <i class="pi pi-android" style="font-size: 2rem; align-self: end"></i>
          <span>ANDROID</span>
        </div>
        <div class="card-button" (click)="this.downloadFile('ipa')">
          <span class="shop">.ipa</span>
          <i class="pi pi-apple" style="font-size: 2rem; align-self: end"></i>
          <span>iOS</span>
        </div>
      </div>
      <h2>{{ t("pc") }}</h2>
      <div class="buttons-box">
        <div class="card-button" (click)="this.downloadFile('exe')">
          <span class="shop">.exe</span>
          <i
            class="pi pi-microsoft"
            style="font-size: 2rem; align-self: end"
          ></i>
          <span>WINDOWS</span>
        </div>
        <div class="card-button" (click)="this.downloadFile('app')">
          <span class="shop">.app</span>
          <i class="pi pi-apple" style="font-size: 2rem; align-self: end"></i>
          <span>MAC</span>
        </div>
      </div>
    </div>
  </section>
</div>
