<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="main" *transloco="let t">
  <app-navbar></app-navbar>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h5
              class="card-title text-uppercase mb-0 white-text"
              style="font-size: xx-large !important"
            >
              Usuarios
            </h5>
          </div>
          <div class="table-responsive">
            <table class="table no-wrap user-table mb-0">
              <thead>
                <tr>
                  <th
                    scope="col"
                    class="border-0 text-uppercase font-medium pl-4"
                  >
                    ID
                  </th>
                  <th scope="col" class="border-0 text-uppercase font-medium">
                    Nickname
                  </th>
                  <th scope="col" class="border-0 text-uppercase font-medium">
                    Email
                  </th>
                  <th scope="col" class="border-0 text-uppercase font-medium">
                    {{ t("state") }}
                  </th>
                  <th scope="col" class="border-0 text-uppercase font-medium">
                    {{ t("role") }}
                  </th>
                  <th scope="col" class="border-0 text-uppercase font-medium">
                    {{ t("action") }}
                  </th>
                </tr>
              </thead>
              <tbody
                style="
                  color: transparent !important;
                  background-color: transparent !important;
                "
              >
                @for(user of users; track $index) {
                <tr>
                  <td class="pl-4 white-text">{{ user.id }}</td>
                  <td>
                    <h5
                      class="font-medium mb-0 white-text"
                      style="font-size: x-large"
                    >
                      {{ user.nickname }}
                    </h5>
                  </td>
                  <td>
                    <span class="text-muted white-text">{{ user.email }}</span
                    ><br />
                  </td>
                  <td>
                    <span class="text-muted white-text">{{
                      user.banned ? t("banned") : t("not-banned")
                    }}</span
                    ><br />
                  </td>
                  <td>
                    <select
                      class="form-control category-select"
                      [id]="user.id"
                      [(ngModel)]="user.role"
                    >
                      <option value="Admin">Admin</option>
                      <option value="User">User</option>
                    </select>
                  </td>
                  <td>
                    <button
                      type="button"
                      (click)="banUser(user.id)"
                      class="btn btn-outline-info btn-circle btn-lg btn-circle"
                      title="Banear usuario"
                    >
                      <i class="fa fa-key"></i>
                    </button>
                    <button
                      type="button"
                      (click)="modifyUserRole(user.id, user.role)"
                      class="btn btn-outline-info btn-circle btn-lg btn-circle ms-2"
                      title="Editar rol usuario"
                    >
                      <i class="fa fa-edit"></i>
                    </button>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
