<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

@if(user != null)
{
<div class="main" *transloco="let t">
    <app-navbar></app-navbar>
    <div class="container">
        <div>
            <div>
                <ul class="nav nav-pills user-profile-tab justify-content-end mt-2 bg-light-info rounded-2"
                    id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link position-relative rounded-0 active d-flex align-items-center justify-content-center bg-transparent fs-3 py-6"
                            id="pills-profile-tab" data-bs-toggle="pill" type="button" role="tab" aria-selected="true"
                            (click)="menuSelector='friendRequest'">
                            <i class="fa fa-user me-2 fs-6"></i>
                            <span class="d-none d-md-block">{{t("friend-requests")}}</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-6"
                            id="pills-followers-tab" data-bs-toggle="pill" type="button" role="tab" tabindex="-1"
                            (click)="menuSelector='searchUsers'">
                            <i class="fa fa-heart me-2 fs-6"></i>
                            <span class="d-none d-md-block">{{t("search-friends")}}</span>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button
                            class="nav-link position-relative rounded-0 d-flex align-items-center justify-content-center bg-transparent fs-3 py-6"
                            id="pills-friends-tab" data-bs-toggle="pill" type="button" role="tab" aria-selected="false"
                            tabindex="-1" (click)="menuSelector='myFriends'">
                            <i class="fa fa-users me-2 fs-6"></i>
                            <span class="d-none d-md-block">{{t("friends")}}</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="pills-friends" role="tabpanel" tabindex="0">
                @if(menuSelector == 'searchUsers' || menuSelector == 'myFriends')
                {
                <div class="d-sm-flex align-items-center justify-content-between mt-3 mb-4">

                    @if(menuSelector == "myFriends")
                    {
                        <form class="position-relative" (submit)="searchFriend(queryfriend)">
                            <input type="text" class="form-control search-chat py-2 ps-5" id="text-srh"
                                [placeholder]="t('search-friends')" required="" [(ngModel)]="queryfriend"
                                [ngModelOptions]="{standalone: true}">
                            <i class="ti ti-search position-absolute top-50 start-0 translate-middle-y text-dark ms-3"></i>
                        </form>
                    }
                    @else {
                        <form class="position-relative" (submit)="getSearchedUsers(queryuser)">
                            <input type="text" class="form-control search-chat py-2 ps-5" id="text-srh"
                                [placeholder]="t('search-users')" required="" [(ngModel)]="queryuser"
                                [ngModelOptions]="{standalone: true}">
                            <i class="ti ti-search position-absolute top-50 start-0 translate-middle-y text-dark ms-3"></i>
                        </form>
                    }
                </div>
                }
                <div class="row">

                    @switch (menuSelector) {
                        @case ('myFriends') {
                            @if(acceptedFriends.length < 1) { 
                                <p class="menu-text">{{t("no-friends")}}</p>
                            }
                            @else if(searchedFriends)
                            {
                                @if (searchedFriends.length<1) { 
                                    <p class="menu-text">{{t("no-name")}}</p>
                                }
                                @else {
                                    @for (friend of acceptedFriends; track $index) {
                                        <app-friend-card [canAdd]="false" [canDelete]="true" [canAccept]="false" [friend]="friend"
                                        [friendName]="friend.receiverUser?.nickname || friend.senderUser?.nickname"></app-friend-card>
                                    }
                                }
                            }
                        }
                        @case ('searchUsers') {
                            @if(searchedUsers)
                            {
                                @if (searchedUsers.length<1) { 
                                    <p class="menu-text">{{t("no-name")}}</p> 
                                }
                                @else {
                                    @for (searchedUser of searchedUsers; track $index)
                                    {
                                        <app-friend-card [canAdd]="!hasFriendship(searchedUser)" [canDelete]="false" [canAccept]="false" [user]="searchedUser"
                                        [friendName]="searchedUser.nickname"></app-friend-card>
                                    }   
                                }
                            }
                            @else {
                                <p class="menu-text">{{t("search-users")}}</p>
                            }
                        }
                        @case ('friendRequest') {
                            <div style="margin-top: 20px;">
                                @if(pendingFriends.length < 1)
                                {
                                    <p class="menu-text">{{t("no-requests")}}</p>
                                }
                                @else {
                                    @for(friend of pendingFriends; track $index)
                                    {
                                        <app-friend-card [canAdd]="false" [canDelete]="true" [canAccept]="true" [friend]="friend"
                                        [friendName]="friend.receiverUser?.nickname || friend.senderUser?.nickname"></app-friend-card>
                                    }
                                }
                            </div>
                        }
                    }
                </div>
            </div>

        </div>
    </div>
</div>
}