<section *transloco="let t">
  <app-navbar></app-navbar>

  @if(user) {

  <div class="user-box">
    <!--steam-->
    @if(steamProfile != null) {

    <img class="avatar" [src]="steamProfile.avatarFull" />
    <!-- <p>Id: {{ user.steamId }}</p>-->
    <p>{{ steamProfile.personaName }}</p>

    <div class="card-button" (click)="removeSteamAccount()">
      <img
        height="50px"
        src="https://play-lh.googleusercontent.com/52_DMY5417awaEgJf3_9mWgEuO2t1JfkGab8kM-LD6l5u6cGm_1-GsoQ_IyWFHdbkA"
        alt="logo Steam"
        style="align-self: end"
      />
      <span>Desvincular cuenta de Steam</span>
    </div>

    } @else {
    <!--info chokart-->
    <img class="avatar" [src]="user.avatarPath" alt="avatar usuario" />
    <p>{{ user.nickname }}</p>

    <div class="card-button">
      <a [href]="STEAM_URL">
        <img
          width="50px"
          src="https://play-lh.googleusercontent.com/52_DMY5417awaEgJf3_9mWgEuO2t1JfkGab8kM-LD6l5u6cGm_1-GsoQ_IyWFHdbkA"
          alt="logo Steam"
          style="align-self: end"
        />
        <span>Vincular con Steam</span>
      </a>
    </div>

    }
    <!--punto totales y correo-->
    <p>Puntuación total: {{ user.totalPoints }}</p>

    <!--cerrar sesion-->
    <p (click)="this.logOut()">Cerrar la sesión actual</p>
  </div>
  <!--si no hay usuario-->
  } @else {
  <p>Cargando...</p>
  }
</section>
