<div id="home">
  <app-navbar></app-navbar>

  <a
    href="https://www.behance.net/gallery/190730687/Gaming-Website-UIUX-Design-Disney-Speedstorm?tracking_source=project_owner_other_projects&"
  >
    plantilla a seguir
  </a>

  <div class="container">
    <img src="/logo-chokart.png" alt="" />
    <h1>JUEGA GRATIS EN PC, WEB Y MÓVIL</h1>
    <div class="links">
      <button>Jugar</button>
      <button (click)="router.navigateToUrl('menu')">Ir al menú</button>
      <button (click)="router.navigateToUrl('profile')">Ir al perfil</button>
      <button>registrate</button>
      <button>ver trailer</button>
    </div>
  </div>
</div>
