.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-size: cover;
  gap: 2rem;
  font-family: "Road Rage", sans-serif;
  font-size: 1.5rem;
}

#home {
  background-image: url(https://media.vandal.net/i/1280x720/10-2023/18/202310182222449_5.jpg);
  background-size: cover;
  height: 100vh;
}

h1 {
  color: rgb(0, 0, 0);
  font-weight: 200;
  text-transform: uppercase;
}

.container img {
  width: 20rem;
}

.links {
  display: flex;
  gap: 2rem;
  justify-items: center;
}

.card-button {
  background-image: linear-gradient(
    to right,
    rgb(209, 209, 209) 0%,
    rgb(255, 255, 255) 40%,
    rgb(255, 255, 255) 100%
  );
  padding: 0.5rem;
  border-radius: 3px;
  color: black;
  width: 10rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
