.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  background-size: cover;
  gap: 2rem;
  font-family: "Road Rage", sans-serif;
  font-size: 1.5rem;
}

#home {
  background-image: url(https://media.vandal.net/i/1280x720/10-2023/18/202310182222449_5.jpg);
  background-size: cover;
  height: 100vh;
}

h1,
h2 {
  color: rgb(255, 255, 255);
  text-shadow: 2px 0px 5px #001757;
  font-weight: 200;
  text-transform: uppercase;
  font-family: "Road Rage", sans-serif;
}

.container img {
  width: 20rem;
}

.links {
  display: flex;
  gap: 2rem;
  justify-items: center;
}

.card-button {
  background-image: linear-gradient(
    to right,
    rgb(209, 209, 209) 0%,
    rgb(255, 255, 255) 40%,
    rgb(255, 255, 255) 100%
  );
  padding: 0.5rem;
  border-radius: 3px;
  color: black;
  width: 10rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.home-content {
  width: 100%;
  background-image: url("/home/background-blue.jpg");
  background-size: 100%;
}

.home-content h2 {
  color: var(--primary-color);
}

.home-content h1 {
  color: #0f78f5;
}

.home-content {
  color: white;
}

.landing1 {
  text-align: center;
  padding: 5rem;
}

.home-content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.home-content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-content p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, Arial,
    sans-serif;
}

.characters {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  margin: 2rem 10rem;
  padding-bottom: 6rem;
}

.text-characters {
  width: 45%;
  margin: 0 3rem;
}

.play-modes {
  padding: 5rem 0rem;
  background-image: url("/home/home-bg2.webp");
  background-size: cover;
  margin-top: -85px;
  color: #000000;
  height: 100vh;
}

.play-modes .content h2 {
  text-shadow: none;
  font-size: 2.5rem;
  color: var(--primary-color);
  font-weight: 200;
  text-transform: uppercase;
  font-family: "Road Rage", sans-serif;
}

.play-modes h1 {
  text-shadow: none;
  padding: 0rem 13rem;
}

.play-modes .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mode-content {
  display: flex;
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;
  padding: 0rem 13rem;
  padding-bottom: 1rem;
}

.mode-text {
  flex: 1;
}

.play-modes img {
  margin-right: 6rem;
  width: 27rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
