<div class="login-box">

    <p class="iniciar">Iniciar sesión</p>

    <form >
      <div>

        <div class="p-field icon-input-container">
          <i class="pi pi-envelope input-icon"></i>
          <input type="text" pInputText placeholder="Correo electrónico" class="icon-input" required/>
        </div>

        <div class="p-field icon-input-container">
          <i class="pi pi-lock input-icon"></i>
          <input type="password" pInputText placeholder="Contraseña" class="icon-input" required />
        </div>

        <div class="p-field-checkbox">
            <input type="checkbox" name="remember" id="remember">
          <label for="rememberMe" class="remember-me-label">Recuérdame</label>
        </div>

        <div>
          <button type="submit" class="p-button">Iniciar sesión</button>
        </div>

      </div>
    </form>

    <div class="register-link">
      <p>¿Eres un cliente nuevo? <a>Regístrate</a></p>
    </div>

  </div>