/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");
@import "primeicons/primeicons.css";

:root {
  --primary-color: #ffcc00;
  --primary-color-text: #000;
  --highlight-bg: #fff3cd;
  --highlight-text-color: #333;

  --surface-card: #1e1e1e;
  --text-color: #fdfdfd;
  --accent-color: #ff9900;
}

* {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Road Rage", sans-serif;
}

p,
span,
li {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, Arial,
    sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}